@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

$selection-color: #40aafe;

::-moz-selection {
  background: $selection-color;
}

::selection {
  background: $selection-color;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url('../static/background.jpg');
  background-color: #262336;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-position: center;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: white;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif
}

.tagline {
  font-size: 1.85em;
  color: white;
  margin-top: -0.5em;
}

h2 {
  height: 10px;
}

p {
  color: white;
  font-size: 1.4rem;
}

.btn-round-outline-blue {
  @apply bg-transparent hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded;
}

.display-boxes {
  @apply flex flex-wrap opacity-100 align-middle relative mx-auto;

  list-style: none;
  width: 80%;
  max-width: 1200px;
}

@layer components {
  .a-box {
    @apply box-border p-4 rounded-md bg-black m-2;

    transition: .6s;
    width: 300px;
    height: 110px;
  }

}

.nav-item {
  @apply block lg:inline-block text-white mr-6 hover:text-blue-300 font-semibold;
  margin-top: .45rem
}

.info-box {
  width: 480px;
  height: 180px;
}


.info-box2 {
  width: 550px;
  height: 180px;
}

.bottom {
  padding-top: 10rem;
}